<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!--Add TfL app id provided by TfL Unified API : https://api.tfl.gov.uk/ in value attribute-->
    <add key="TflAppId" value=""/>
    <!-- Add TfL app key  provided by TfL Unified API : https://api.tfl.gov.uk/ in value attribute -->
    <add key="TflAppKey" value=""/>
  </appSettings>
</configuration>
